@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=PT+Serif:wght@400;700&display=swap');

#profile-image {
    flex: 0 0 450px;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    #profile-image {
        flex: 0 0 300px;
    }
}

/* Fonts */
.merriweather {
    font-family: 'Merriweather', serif;
}
.pt-serif {
    font-family: 'PT Serif', serif;
}